.account-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
	padding-top: 100px;
}

.account-details {
    flex: 1;
    max-width: 400px;
    padding: 1rem;
    background-color: #023222;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.account-details h2 
{
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
}


.account-details form {
    display: flex;
    flex-direction: column;
}

.account-details form label {
    margin-bottom: 0.5rem;
}

.account-details form input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.account-details form button {
    background-color: #011d14;
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.account-details form button:hover {
    background-color: #149056;
}

.account-image {
    flex: 1;
    text-align: center;
}

.account-image img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.btn-login
{
	background-color: #011d14;
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
	text-decoration: none;
}

.btn-login:hover
{
	background-color: #149056;
}