h1
{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: white;
    text-align: center; 
    margin-top: 5rem;
}

main 
{
    padding: 2rem;
}

.img
{
    max-width: 50%;
}


.remove-from-cart:hover {
    background-color: #ff4d4d;
}

.product-details 
{
    display: flex;
    align-items: center;
}

.product-details img 
{
    max-width: 200px;
    border-radius: 5px;
    margin-right: 1rem;
}

.product-info h3 
{
    margin-bottom: 0.5rem;
    color: #fff;
}

.product-info p 
{
    color: #ccc;
}

.price, .quantity, 
.total 
{
    text-align: center;
    color: #fff;
}

.quantity input 
{
    width: 50px;
    padding: 0.5rem;
    border: 1px solid #808080;
    border-radius: 5px;
    background-color: #011d14;
    color: #fff;
    text-align: center;
}

.remove button 
{
    background-color: #034a34;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.remove button:hover 
{
    background-color: #2d8468;
}

.cart-total 
{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-top: 2px solid #808080;
    margin-top: 2rem;
}

.total-label 
{
    font-size: 1.5rem;
    color: #76dead;
}

.total-amount 
{
    font-size: 1.5rem;
    color: #76dead;
}

.checkout 
{
    text-align: center;
    margin-top: 2rem;
}

.checkout button 
{
    background-color: #034a34;
    color: #ffffff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.checkout button:hover 
{
    background-color: #2d8468;
}


/* Responsive adjustments */

@media (max-width: 768px) 
{
    .cart-header, .cart-item {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .product-details 
    {
        justify-content: center;
        margin-bottom: 1rem;
    }

    .cart-total 
    {
        flex-direction: column;
        align-items: center;
    }

    .checkout button 
    {
        width: 100%;
    }
}

/* details section */

.order-details 
{
    max-width: 800px;
    margin: 2rem auto;
    background-color: #03271b;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-details h2 
{
    text-align: center;
    color: #ffffff;
    margin-bottom: 1rem;
}

.order-details 
.form-group 
{
    margin-bottom: 1rem;
}

.order-details label 
{
    display: block;
    color: #ffffff;
    margin-bottom: 0.5rem;
}

.order-details input, 
.order-details textarea, 
.order-details select 
{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #808080;
    border-radius: 5px;
    background-color: #011d14;
    color: #fff;
}

.order-details 
.submit-btn 
{
    display: block;
    width: 100%;
    background-color: #034a34;
    color: #fff;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.order-details 
.submit-btn:hover 
{
    background-color: #2d8468;
}



