
/* Main Section */
main {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#userProfile
{
    padding-top: 70px;
}
#userProfile h1 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/* Admin Image */
.user-image {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    padding-top: 10px;
}

.user-image img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #023e4f;
}

/* Style for the dropdown container */
.drop {
    position: relative;
    display: inline-block;
}

/* Style for the dropdown button */
.drop-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Style for the dropdown content (hidden by default) */
.drop-content {
    display: none;
    position: absolute;
    background-color: #3eae41;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style for dropdown content links */
.drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown content when hovering */
.drop:hover .drop-content {
    display: block;
}

/* Style for the images in the dropdown */
.drop-content img {
    width: 50px;
    height: 50px;
    margin: 5px;
    justify-content: center;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

/* Hover effect for images in dropdown */
.drop-content img:hover {
    transform: scale(1.1);
}

/* Style for the currently selected profile picture */
.user-image img#currentProfilePic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
    border: 3px solid #4CAF50;
}

.details {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background-color: #024f30;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.details table {
    width: 100%;
    border-collapse: collapse;
}

.details th, .details td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #3eae41;
}

.details th {
    background-color: #3eae41;
    color: white;
    font-weight: bold;
    border-radius: 8px 0 0 8px;
}

.details td {
    background-color: #44b255;
    color: #333;
}

.details tr:hover {
    background-color: #f1f1f1;
}

.details tr:last-child th,
.details tr:last-child td {
    border-bottom: none;
}

.details th, .details td:first-child {
    border-radius: 8px 0 0 8px;
}

.details td:last-child {
    border-radius: 0 8px 8px 0;
}

/* Optional - Customize the table and section for mobile devices */
@media (max-width: 600px) {
    .details table, .details th, .details td {
        font-size: 14px;
    }
}
