@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600&display=swap');

* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body 
{
    background-color: #011d14;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    visibility: visible;
    font-family: "Titillium Web", sans-serif;
    color: #808080;
    margin: 0;
    padding: 0;
}

header 
{
    background-color: #03271b;
    color: #808080;
    padding: 1.5rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
    width: 100%;
    z-index: 100;
}

header .logo 
{
    font-size: 3rem;
}

header nav ul 
{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li 
{
    margin-left: 1rem; 
}

header nav ul li a 
{
    color: #808080;
    text-decoration: none;
    padding: 1rem; 
    font-size: 1rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover 
{
    color: #fff;
}


.marqueeBox 
{
    overflow: hidden;
    white-space: nowrap;
    background-color: #01150f;
    color:#808080; 
    padding: 10px 10px ;
}

.marquee 
{
    display: inline-block;
    white-space: nowrap;
    animation: marquee 90s linear infinite;
	width: 100%;
}

@keyframes marquee 
{
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Footer Section */
footer 
{
    background-color: #03271b;
    color: #808080;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.homeMedia 
{
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    justify-content: center;
}

.homeMedia .social img,
.homeMedia .contact img 
{
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    justify-content: space-between;
	
}
